[general]
  debug = false

[http]
  address = ""
  port = 0
  ssl = false
  ssl-cert = ""
  ssl-key = ""

[jwt]
  private-key = ""
  public-key = ""
  auto-generate = false

[duoc]
  sso-url = ""
  mobile-api-url = ""
  web-api-url = ""
  client-secret = ""
  client-id = ""
  grant-type = ""
