basePath: /
definitions:
  common.Attendance:
    properties:
      asistenciaAsignaturas:
        items:
          $ref: '#/definitions/common.SubjectAttendance'
        type: array
      codCarrera:
        type: string
      nomCarrera:
        type: string
    type: object
  common.AuthenticationResponse:
    properties:
      access_token:
        type: string
      access_token_expires_in:
        type: integer
      refresh_expires_in:
        type: integer
      refresh_token:
        type: string
    type: object
  common.Course:
    properties:
      codPlan:
        type: string
      dia:
        type: string
      horaFin:
        type: string
      horaInicio:
        type: string
      nombre:
        type: string
      nombrePlan:
        type: string
      profesor:
        type: string
      sala:
        type: string
      seccion:
        type: string
      sede:
        type: string
      sigla:
        type: string
    type: object
  common.Day:
    properties:
      dia:
        type: string
      ramos:
        items:
          $ref: '#/definitions/common.Course'
        type: array
    type: object
  common.Grade:
    properties:
      nota:
        type: string
      texto:
        type: string
    type: object
  common.GradesCourses:
    properties:
      asignaturas:
        items:
          $ref: '#/definitions/common.Subject'
        type: array
      codCarrera:
        type: string
      nomCarrera:
        type: string
    type: object
  common.Schedule:
    properties:
      codCarrera:
        type: string
      dias:
        items:
          $ref: '#/definitions/common.Day'
        type: array
      nomCarrera:
        type: string
    type: object
  common.Subject:
    properties:
      codAsignatura:
        type: string
      examenes:
        items:
          $ref: '#/definitions/common.Grade'
        type: array
      nombre:
        type: string
      parciales:
        items:
          $ref: '#/definitions/common.Grade'
        type: array
      promedio:
        type: string
    type: object
  common.SubjectAttendance:
    properties:
      cabecera:
        $ref: '#/definitions/common.SubjectAttendanceHeader'
      detalle:
        items:
          $ref: '#/definitions/common.SubjectAttendanceDetail'
        type: array
    type: object
  common.SubjectAttendanceDetail:
    properties:
      asistencia:
        type: string
      fechaLarga:
        type: string
    type: object
  common.SubjectAttendanceHeader:
    properties:
      clasesAsistente:
        type: string
      clasesRealizadas:
        type: string
      codAsignatura:
        type: string
      nomAsignatura:
        type: string
      porcentaje:
        description: Why...?
        type: string
    type: object
host: api-duoc.hinotori.moe
info:
  contact:
    email: hello@hinotori.moe
    name: Matias "Hinotori" Canovas
    url: https://github.com/imhinotori/
  description: Duoc Plus, is a REST API that allows you to access your grades, schedule
    and attendance from DuocUC.
  license:
    name: MIT
    url: https://opensource.org/license/mit/
  termsOfService: https://www.duoc.cl/politica-privacidad/
  title: Duoc Plus API
  version: "1.0"
paths:
  /attendance:
    get:
      consumes:
      - application/json
      description: Get user attendance
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved attendance
          schema:
            $ref: '#/definitions/common.Attendance'
        "400":
          description: Error getting attendance.
          schema:
            type: string
      security:
      - Bearer: []
  /auth:
    post:
      consumes:
      - application/json
      description: Authenticate
      parameters:
      - description: Username of the user
        in: query
        name: username
        required: true
        type: string
      - description: Password of the user
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/common.AuthenticationResponse'
        "400":
          description: Error reading body.
          schema:
            type: string
  /grades:
    get:
      consumes:
      - application/json
      description: Get user grades
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved grades
          schema:
            $ref: '#/definitions/common.GradesCourses'
        "400":
          description: Error getting grades.
          schema:
            type: string
      security:
      - Bearer: []
  /schedule:
    get:
      consumes:
      - application/json
      description: Get user schedule
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved schedule
          schema:
            $ref: '#/definitions/common.Schedule'
        "400":
          description: Error getting schedule.
          schema:
            type: string
      security:
      - Bearer: []
swagger: "2.0"
