{
    "swagger": "2.0",
    "info": {
        "description": "Duoc Plus, is a REST API that allows you to access your grades, schedule and attendance from DuocUC.",
        "title": "Duoc Plus API",
        "termsOfService": "https://www.duoc.cl/politica-privacidad/",
        "contact": {
            "name": "Matias \"Hinotori\" Canovas",
            "url": "https://github.com/imhinotori/",
            "email": "hello@hinotori.moe"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/license/mit/"
        },
        "version": "1.0"
    },
    "host": "api-duoc.hinotori.moe",
    "basePath": "/",
    "paths": {
        "/attendance": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get user attendance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved attendance",
                        "schema": {
                            "$ref": "#/definitions/common.DuocAttendance"
                        }
                    },
                    "400": {
                        "description": "Error getting attendance.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/auth": {
            "post": {
                "description": "Authenticate",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "type": "string",
                        "description": "Username of the user",
                        "name": "username",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Password of the user",
                        "name": "password",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "$ref": "#/definitions/common.AuthenticationResponse"
                        }
                    },
                    "400": {
                        "description": "Error reading body.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/grades": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get user grades",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved grades",
                        "schema": {
                            "$ref": "#/definitions/common.DuocGradesCourses"
                        }
                    },
                    "400": {
                        "description": "Error getting grades.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/schedule": {
            "get": {
                "security": [
                    {
                        "Bearer": []
                    }
                ],
                "description": "Get user schedule",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved schedule",
                        "schema": {
                            "$ref": "#/definitions/common.CareerSchedule"
                        }
                    },
                    "400": {
                        "description": "Error getting schedule.",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "common.AuthenticationResponse": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "access_token_expires_in": {
                    "type": "integer"
                },
                "refresh_expires_in": {
                    "type": "integer"
                },
                "refresh_token": {
                    "type": "string"
                }
            }
        },
        "common.CareerSchedule": {
            "type": "object",
            "properties": {
                "career_name": {
                    "type": "string"
                },
                "schedule": {
                    "$ref": "#/definitions/common.Week"
                }
            }
        },
        "common.Course": {
            "type": "object",
            "properties": {
                "classroom": {
                    "type": "string"
                },
                "end_time": {
                    "type": "string"
                },
                "instructor": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "subject_code": {
                    "type": "string"
                },
                "subject_name": {
                    "type": "string"
                }
            }
        },
        "common.DuocAttendance": {
            "type": "object",
            "properties": {
                "asistenciaAsignaturas": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.DuocSubjectAttendance"
                    }
                },
                "codCarrera": {
                    "type": "string"
                },
                "nomCarrera": {
                    "type": "string"
                }
            }
        },
        "common.DuocGrade": {
            "type": "object",
            "properties": {
                "nota": {
                    "type": "string"
                },
                "texto": {
                    "type": "string"
                }
            }
        },
        "common.DuocGradesCourses": {
            "type": "object",
            "properties": {
                "asignaturas": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.DuocSubject"
                    }
                },
                "codCarrera": {
                    "type": "string"
                },
                "nomCarrera": {
                    "type": "string"
                }
            }
        },
        "common.DuocSubject": {
            "type": "object",
            "properties": {
                "codAsignatura": {
                    "type": "string"
                },
                "examenes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.DuocGrade"
                    }
                },
                "nombre": {
                    "type": "string"
                },
                "parciales": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.DuocGrade"
                    }
                },
                "promedio": {
                    "type": "string"
                }
            }
        },
        "common.DuocSubjectAttendance": {
            "type": "object",
            "properties": {
                "cabecera": {
                    "$ref": "#/definitions/common.DuocSubjectAttendanceHeader"
                },
                "detalle": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.DuocSubjectAttendanceDetail"
                    }
                }
            }
        },
        "common.DuocSubjectAttendanceDetail": {
            "type": "object",
            "properties": {
                "asistencia": {
                    "type": "string"
                },
                "fechaLarga": {
                    "type": "string"
                }
            }
        },
        "common.DuocSubjectAttendanceHeader": {
            "type": "object",
            "properties": {
                "clasesAsistente": {
                    "type": "string"
                },
                "clasesRealizadas": {
                    "type": "string"
                },
                "codAsignatura": {
                    "type": "string"
                },
                "nomAsignatura": {
                    "type": "string"
                },
                "porcentaje": {
                    "description": "Why...?",
                    "type": "string"
                }
            }
        },
        "common.Week": {
            "type": "object",
            "properties": {
                "friday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "monday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "saturday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "sunday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "thursday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "tuesday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                },
                "wednesday": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Course"
                    }
                }
            }
        }
    }
}