basePath: /
definitions:
  common.Attendance:
    properties:
      attendance:
        items:
          $ref: '#/definitions/common.SubjectAttendance'
        type: array
      degree_code:
        type: string
      degree_name:
        type: string
    type: object
  common.AttendanceDetail:
    properties:
      attendance:
        type: integer
      date:
        type: string
    type: object
  common.AuthenticationResponse:
    properties:
      access_token:
        type: string
      access_token_expires_in:
        type: integer
      refresh_expires_in:
        type: integer
      refresh_token:
        type: string
    type: object
  common.CareerSchedule:
    properties:
      career_name:
        type: string
      schedule:
        $ref: '#/definitions/common.Week'
    type: object
  common.Course:
    properties:
      classroom:
        type: string
      end_time:
        type: string
      instructor:
        type: string
      start_time:
        type: string
      subject_code:
        type: string
      subject_name:
        type: string
    type: object
  common.Grades:
    properties:
      code:
        type: string
      name:
        type: string
      subjects:
        items:
          $ref: '#/definitions/common.Subject'
        type: array
    type: object
  common.Subject:
    properties:
      average:
        type: number
      code:
        type: string
      exams:
        items:
          type: number
        type: array
      name:
        type: string
      partials:
        items:
          type: number
        type: array
    type: object
  common.SubjectAttendance:
    properties:
      assisted_classes:
        type: integer
      classes_held:
        type: integer
      code:
        type: string
      details:
        items:
          $ref: '#/definitions/common.AttendanceDetail'
        type: array
      name:
        type: string
      percentage:
        type: number
    type: object
  common.Week:
    properties:
      friday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      monday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      saturday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      sunday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      thursday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      tuesday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
      wednesday:
        items:
          $ref: '#/definitions/common.Course'
        type: array
    type: object
host: api-duoc.hinotori.moe
info:
  contact:
    email: hello@hinotori.moe
    name: Matias "Hinotori" Canovas
    url: https://github.com/imhinotori/
  description: Duoc Plus, is a REST API that allows you to access your grades, schedule
    and attendance from DuocUC.
  license:
    name: MIT
    url: https://opensource.org/license/mit/
  termsOfService: https://www.duoc.cl/politica-privacidad/
  title: Duoc Plus API
  version: "1.0"
paths:
  /attendance:
    get:
      consumes:
      - application/json
      description: Get user attendance
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved attendance
          schema:
            $ref: '#/definitions/common.Attendance'
        "400":
          description: Error getting attendance.
          schema:
            type: string
      security:
      - Bearer: []
  /auth:
    post:
      consumes:
      - application/json
      description: Authenticate
      parameters:
      - description: Username of the user
        in: query
        name: username
        required: true
        type: string
      - description: Password of the user
        in: query
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/common.AuthenticationResponse'
        "400":
          description: Error reading body.
          schema:
            type: string
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Refresh Token
      parameters:
      - description: Refresh token
        in: query
        name: refresh_token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            $ref: '#/definitions/common.AuthenticationResponse'
        "400":
          description: Error reading body.
          schema:
            type: string
  /grades:
    get:
      consumes:
      - application/json
      description: Get user grades
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved grades
          schema:
            $ref: '#/definitions/common.Grades'
        "400":
          description: Error getting grades.
          schema:
            type: string
      security:
      - Bearer: []
  /schedule:
    get:
      consumes:
      - application/json
      description: Get user schedule
      produces:
      - application/json
      responses:
        "200":
          description: Successfully retrieved schedule
          schema:
            $ref: '#/definitions/common.CareerSchedule'
        "400":
          description: Error getting schedule.
          schema:
            type: string
      security:
      - Bearer: []
swagger: "2.0"
